<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <div style="background-color: #ddd; padding: 10px;">
    <%= @site.conteudo %>
  </div>

</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
