<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Elemento com conteúdo de interesse:</strong>
  <%= @site.elemento_com_conteudo_de_interesse %>
</p>

<p>
  <strong>Já visto?</strong>
  <%= @site.ja_visto %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <div>
    <%= @site.conteudo %>
  </div>

</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
